html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  box-sizing: border-box;
}

header {
  height: 69px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  text-align: right;
  border-bottom: 1px solid seashell;
}

#logo {
  float: left;
  padding: 10px;
}

#logo img {
  height: 50px;
}

ul li {
  display: inline;
  margin: 10px;
}

a {
  color: seashell;
}

main {
  position: relative;
  top: 69px;
}

#mission {
  display: flex;
  height: 700px;
  min-width: 350px;
  justify-content: center;
  flex-direction: column;
  background-image: url(./img-mission-background.webp) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2, h4 {
  display: block;
  width: 100%;
  opacity: 0.9;
  margin: 0;
  padding: 5px 0;
}

#mission h2, #mission h4 {
  background-color: black;
}

#featured-tea {
  display: inline-flex;
  flex-direction: column;
  align-content: space-around;
  padding-top: 69px;
}

#photo-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
}

figure {
  margin: 10px 0;
}

figcaption {
  padding: 10px;
}

.photo img {
  height: 200px;
  width: 300px;
}

#locations-container {
  display: flexbox;
  min-height: 500px;
  min-width: 350px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./img-locations-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 69px;
}

#locations-container h2 {
  background-color: transparent;
  padding-bottom: 10px;
}

#locations-container h4 {
  margin: 20px 0;
}

#box-container {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: black;
  opacity: 1;
  margin: 5px 20px;
  align-items: center;
}

#contact-info {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 69px;
  opacity: 0.9;
}

footer {
  padding-left: 20px;
  display: block;
  text-align: left;
  opacity: 0.9;
}

@media only screen and (max-width: 570px) {
  header {
    height: 138px;
    text-align: center;
    font-size: 0.8rem;

  }
  #logo {
    float: none;
    text-align: center;
  }
  main {
    top: 138px;
  }
  ul {
    padding-inline-start: 0;
  }
  #featured-tea {
    padding-top: 138px;
  }
  #locations-container {
    padding-top: 138px;
  }
  #contact-info {
    margin-bottom: 138px;
  }
  footer {
    font-size: 0.8rem;
    text-align: center;
  }
}