html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  box-sizing: border-box;
  height: 69px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  text-align: right;
  border-bottom: 1px solid seashell;
}

#logo {
  display: inline-block;
  float: left;
  margin: 10px;
}

#logo img {
  height: 50px;
}

ul li {
  display: inline;
  margin: 10px;
}

a {
  color: seashell;
}

main {
  position: relative;
  top: 69px;
}

footer {
  text-align: left;
  padding-left: 20px;
}